.container_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: auto;
    max-width: 500px;
    margin-top: 89px;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-right: -14px;
}

.btn_link {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #7AEB7A;
    color: #650202;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

@media (min-width: 700px) {
    .container_btn {
        width: 60%;
        padding: 60px;
    }

    .btn-link button {
        width: 70%;
    }
}