.navbar{
    background-color: #7AEB7A !important;
}

#basic-navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 7rem;
    height: 6rem;
    margin: 1rem;
}

#responsive-navbar-nav {
    justify-content: right;
    /*justify-content: space-around;*/
}

.navbar-nav a {
    color: #650202;
    font-size: 16px;
    text-decoration: none;
    padding-right: 20px;
    text-align: center;
}

.navbar-nav a:hover {
    color: #007bff;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    color: #650202 !important;
    display: block;
    text-align: center;
}

.nav-link:hover {
    color: #007bff !important;
}

.dropdown-menu {
    background-color: #7AEB7A;
    border: none;
    box-shadow: 0 0 10px #ccc;
    left: auto;
    right: 0;
    min-width: 200px;
    text-align: left;
}

.dropdown-item {
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f7f7f7;
    color: #007bff;
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none;
}